
/* -- header section -- */
header {
    display: flex;
    flex-direction: column;
}
.upper-header-container {
    background-color: var(--primary-clr-alt);
    padding: .8rem .5rem;
}
.lower-header-desktop {
    background-color: var(--primary-clr-alt);
    padding: .8rem .5rem;
}
@media screen and (min-width: 612px) {
    .upper-header-container,
    .lower-header-desktop {
        padding: 1rem;
    }
}















.logo {
    font-family: 'Fruktur', cursive;
    font-size: 1.8rem;
    color: var(--second-clr);
}
.nav-bar {
    display: flex;
    align-items: center;
}
.nav-item {
    margin-right: 2rem;
}
.nav-item
.nav-link {
    color: var(--second-clr);
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    padding-bottom: .2rem;
    letter-spacing: .01rem;
}
.nav-item
.nav-link::before {
    content: "";
    background-color: var(--second-clr);
    height: .1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 300ms;
}
.nav-item
.nav-link:hover::before {
    transform: scaleX(1);
}
@media screen and (max-width: 612px) {
    .nav-bar {
        z-index: 1;
        padding: 2rem 4rem 1rem 1rem;
        border-bottom-left-radius: .2rem;
        position: absolute;
        top: 4.2rem;
        right: 0;
        transform: scaleX(0);
        transform-origin: left;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--primary-clr);
        transition: transform 300ms;
    }
    .show-nav-bar {
        transform: scaleX(1);
    }
    .nav-item {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}
.bxs-user-circle {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--second-clr-alt);
    transition: color 150ms;
}
.bxs-user-circle:hover {
    color: var(--second-clr);
}
.menu-icons {
    display: none;
}
.menu-icons
.bx {
    cursor: pointer;
    color: var(--second-clr);
    font-size: 2.7rem;
}
.menu-icons
.bx-x {
    display: none;
    transition: transform 300ms;
}
.hide-open-menu__icon {
    display: none;
}
.menu-icons
.show-close-menu__icon {
    display: block;
}
.menu-icons
.bx-x:hover {
    transform: rotate(180deg);
}
@media screen and (max-width: 612px) {
    .menu-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}